[worldserver]

###################################################################################################
#                                                                                                 #
# Reagent Bank Account Config                                                                     #
#                                                                                                 #
###################################################################################################
#
#    ReagentBankAccount.Enable
#        Description: Enable the reagent bank (account-wide).
#        Default:     1 - Enabled
#                     0 - Disabled

ReagentBankAccount.Enable = 1

#
#    RemoteDeposit.Enable
#        Description: Enable the remote deposit.
#        Default:     0 - Disabled
#                     1 - Enabled
#

RemoteDeposit.Enable = 0

#
###################################################################################################
